<!--{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'biblioteca/parciais/head.html'%}
<body>
    {% include ' global/titulo.html' %}
    {% include ' biblioteca/parciais/titulo.html' %}
    <h2>sou a pagina da Biblioteca</h2>
    
    <img src="{% static 'biblioteca/images/images.jpg' %}" width=200px>

    <!-- <p>Console {{nome}}</p> -->
</body>
</html> 

{% extends 'global/paginas/base_inicio.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'biblioteca/css/estilos.css' %}">
{% endblock css_app %}

{% block titulo_app %}Biblioteca Virtual{% endblock titulo_app %}

{% block h2_app %}Biblioteca Virtual{% endblock h2_app %}
{% block menu_app %}
    {% include 'biblioteca/parciais/menu.html' %}
{% endblock menu_app %}
